# Merge y análisis descriptivo de archivos "Caracteristicas de la Vivienda"

In [1]:
import numpy as np
import pandas as pd

# Load

In [2]:
general_file_path = '../files/01_csv'
csv_prefix = 'AnyConv.com__'

In [3]:
rech23_df = pd.read_csv(f'{general_file_path}/{csv_prefix}RECH23.csv')

In [7]:
rech23_df.columns = [column.split(',')[0] for column in rech23_df.columns]

In [9]:
rech23_df.head()

,ID1,HHID,HV201,HV202,HV204,HV205,HV206,HV207,HV208,HV209,...,SH78,SH79,SH224,SH225U,SH225,SH227,QH227A,QH227B,HV270,HV271
0,2019,100201,11,0,996,11,1,1,1,1,...,1,20,4,2,16,1,1,1,4,1
1,2019,102801,11,0,996,11,1,1,1,1,...,0,0,4,1,37,1,2,1,4,1
2,2019,104801,11,0,996,11,1,0,0,0,...,0,0,3,2,16,2,1,1,2,0
3,2019,113601,11,0,996,11,1,1,1,1,...,1,50,4,2,16,1,1,1,5,1
4,2019,113701,11,0,996,11,1,1,1,0,...,0,0,9,0,0,9,0,0,2,0

In [10]:
rech23_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37474 entries, 0 to 37473
Columns: 131 entries, ID1 to HV271
dtypes: int64(131)
memory usage: 37.5 MB

In [11]:
rech23_df[rech23_df.duplicated('HHID')]

Empty DataFrame
Columns: [ID1, HHID, HV201, HV202, HV204, HV205, HV206, HV207, HV208, HV209, HV210, HV211, HV212, HV213, HV214, HV215, HV216, HV217, HV218, HV219, HV220, HV221, HV225, HV226, HV227, HV228, HV234, HV235, HV236, HV237, HV237A, HV237B, HV237C, HV237D, HV237E, HV237F, HV237G, HV237H, HV237I, HV237J, HV237K, HV237X, HV237Z, HV238, HV239, HV240, HV241, HV242, HV243A, HV243B, HV243C, HV243D, HV244, HV245, HV246, HV246A, HV246B, HV246C, HV246D, HV246E, HV246F, HV246G, HV246H, HV246I, HV246J, HV246K, HV247, HV248, HV249, HV250, HV251, HML1, HML1A, HML2, SHVER, SHREGION, SHSEMES, SHPROVIN, SHDISTRI, SHTOTH, SHEQUIPO, SH42, SH43, SH48, SH49, SH50, SH51, SH52, SH56, SH58, SH59, SH60, SH61A, SH61B, SH61C, SH61D, SH61E, SH61J, SH61K, SH61L, ...]
Index: []

[0 rows x 131 columns]

#### Granularidad a nivel de hogar