# Merge y análisis descriptivo de archivos "Peso y Talla - Anemia"

In [1]:
import numpy as np
import pandas as pd

# Load

In [2]:
general_file_path = '../files/01_csv'
csv_prefix = 'AnyConv.com__'

In [5]:
rec44_df = pd.read_csv(f'{general_file_path}/{csv_prefix}REC44.csv')
rech5_df = pd.read_csv(f'{general_file_path}/{csv_prefix}RECH5.csv')
rech6_df = pd.read_csv(f'{general_file_path}/{csv_prefix}RECH6.csv')

In [6]:
rec44_df.columns = [column.split(',')[0] for column in rec44_df.columns]
rech5_df.columns = [column.split(',')[0] for column in rech5_df.columns]
rech6_df.columns = [column.split(',')[0] for column in rech6_df.columns]

In [7]:
rec44_df.info() # NO id para cruces :/

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21154 entries, 0 to 21153
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID1     21154 non-null  int64
 1   CASEID  21154 non-null  object
 2   HWIDX   21154 non-null  int64
 3   HW1     21154 non-null  int64
 4   HW2     21154 non-null  int64
 5   HW3     21154 non-null  int64
 6   HW4     21154 non-null  int64
 7   HW5     21154 non-null  int64
 8   HW6     21154 non-null  int64
 9   HW7     21154 non-null  int64
 10  HW8     21154 non-null  int64
 11  HW9     21154 non-null  int64
 12  HW10    21154 non-null  int64
 13  HW11    21154 non-null  int64
 14  HW12    21154 non-null  int64
 15  HW13    21154 non-null  int64
 16  HW15    21154 non-null  int64
 17  HW16    21154 non-null  int64
 18  HW17    21154 non-null  int64
 19  HW18    21154 non-null  int64
 20  HW19    21154 non-null  int64
 21  HW51    21154 non-null  int64
 22  HW52    21154 non-null  int64
 23  HW53    21154 non-null  int64
 24  HW55    21154 non-null  int64
 25  HW56    21154 non-null  int64
 26  HW57    21154 non-null  int64
 27  HW58    21154 non-null  int64
 28  HW70    21154 non-null  int64
 29  HW71    21154 non-null  int64
 30  HW72    21154 non-null  int64
 31  HW73    21154 non-null  int64
dtypes: int64(31), object(1)
memory usage: 5.2+ MB

In [8]:
rech5_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39989 entries, 0 to 39988
Data columns (total 38 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID1     39989 non-null  int64
 1   HHID    39989 non-null  int64
 2   HA0     39989 non-null  int64
 3   HA1     39989 non-null  int64
 4   HA2     39989 non-null  int64
 5   HA3     39989 non-null  int64
 6   HA4     39989 non-null  int64
 7   HA5     39989 non-null  int64
 8   HA6     39989 non-null  int64
 9   HA11    39989 non-null  int64
 10  HA12    39989 non-null  int64
 11  HA12A   39989 non-null  int64
 12  HA12B   39989 non-null  int64
 13  HA13    39989 non-null  int64
 14  HA32    39989 non-null  int64
 15  HA33    39989 non-null  int64
 16  HA35    39989 non-null  int64
 17  HA40    39989 non-null  int64
 18  HA41    39989 non-null  int64
 19  HA50    39989 non-null  int64
 20  HA51    39989 non-null  int64
 21  HA52    39989 non-null  int64
 22  HA53    39989 non-null  int64
 23  HA54    39989 non-null  int64
 24  HA55    39989 non-null  int64
 25  HA56    39989 non-null  int64
 26  HA57    39989 non-null  int64
 27  HA58    39989 non-null  int64
 28  HA60    39989 non-null  int64
 29  HA61    39989 non-null  int64
 30  HA62    0 non-null      float64
 31  HA63    39989 non-null  int64
 32  HA64    39989 non-null  int64
 33  HA65    39989 non-null  int64
 34  HA66    39989 non-null  int64
 35  HA67    39989 non-null  int64
 36  HA68    39989 non-null  int64
 37  HA69    39989 non-null  int64
dtypes: float64(1), int64(37)
memory usage: 11.6 MB

In [9]:
rech6_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22143 entries, 0 to 22142
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID1     22143 non-null  int64
 1   HHID    22143 non-null  int64
 2   HC0     22143 non-null  int64
 3   HC1     22143 non-null  int64
 4   HC2     22143 non-null  int64
 5   HC3     22143 non-null  int64
 6   HC4     22143 non-null  int64
 7   HC5     22143 non-null  int64
 8   HC6     22143 non-null  int64
 9   HC7     22143 non-null  int64
 10  HC8     22143 non-null  int64
 11  HC9     22143 non-null  int64
 12  HC10    22143 non-null  int64
 13  HC11    22143 non-null  int64
 14  HC12    22143 non-null  int64
 15  HC13    22143 non-null  int64
 16  HC15    22143 non-null  int64
 17  HC16    22143 non-null  int64
 18  HC19    22143 non-null  int64
 19  HC27    22143 non-null  int64
 20  HC30    22143 non-null  int64
 21  HC31    22143 non-null  int64
 22  HC32    22143 non-null  int64
 23  HC33    22143 non-null  int64
 24  HC51    22143 non-null  int64
 25  HC52    22143 non-null  int64
 26  HC53    22143 non-null  int64
 27  HC55    22143 non-null  int64
 28  HC56    22143 non-null  int64
 29  HC57    22143 non-null  int64
 30  HC58    22143 non-null  int64
 31  HC60    22143 non-null  int64
 32  HC61    22143 non-null  int64
 33  HC62    22143 non-null  int64
 34  HC63    22143 non-null  int64
 35  HC64    22143 non-null  int64
 36  HC68    22143 non-null  int64
 37  HC70    22143 non-null  int64
 38  HC71    22143 non-null  int64
 39  HC72    22143 non-null  int64
 40  HC73    22143 non-null  int64
dtypes: int64(41)
memory usage: 6.9 MB

# Granularidad

ignorar rec44 ya que no tiene cruce por hhid

In [13]:
rech5_df[rech5_df.duplicated(['HHID','HA0'])] # mujeres

Empty DataFrame
Columns: [ID1, HHID, HA0, HA1, HA2, HA3, HA4, HA5, HA6, HA11, HA12, HA12A, HA12B, HA13, HA32, HA33, HA35, HA40, HA41, HA50, HA51, HA52, HA53, HA54, HA55, HA56, HA57, HA58, HA60, HA61, HA62, HA63, HA64, HA65, HA66, HA67, HA68, HA69]
Index: []

[0 rows x 38 columns]

In [15]:
rech6_df[rech6_df.duplicated(['HHID','HC0'])] # niños

Empty DataFrame
Columns: [ID1, HHID, HC0, HC1, HC2, HC3, HC4, HC5, HC6, HC7, HC8, HC9, HC10, HC11, HC12, HC13, HC15, HC16, HC19, HC27, HC30, HC31, HC32, HC33, HC51, HC52, HC53, HC55, HC56, HC57, HC58, HC60, HC61, HC62, HC63, HC64, HC68, HC70, HC71, HC72, HC73]
Index: []

[0 rows x 41 columns]

# Checkin edadesm

In [18]:
rech5_df.HA1.value_counts(dropna=False).sort_index() #edad en anhos (min 12 años :()

12    1294
13    1281
14    1290
15    1155
16    1067
17     919
18     920
19    1012
20    1076
21    1047
22    1198
23    1241
24    1248
25    1256
26    1334
27    1281
28    1250
29    1205
30    1280
31    1262
32    1285
33    1191
34    1264
35    1105
36    1130
37    1100
38    1040
39     996
40     975
41     836
42     894
43     794
44     746
45     648
46     624
47     617
48     597
49     531
Name: HA1, dtype: int64

In [20]:
rech6_df.HC1.value_counts(dropna=False).sort_index()

0     182
1     188
2     272
3     326
4     346
5     365
6     372
7     355
8     377
9     350
10    384
11    397
12    380
13    408
14    334
15    364
16    339
17    346
18    379
19    343
20    395
21    374
22    369
23    344
24    362
25    352
26    383
27    410
28    357
29    351
30    395
31    358
32    368
33    396
34    352
35    376
36    380
37    384
38    350
39    356
40    368
41    402
42    401
43    424
44    399
45    382
46    381
47    397
48    415
49    378
50    414
51    347
52    418
53    420
54    400
55    418
56    384
57    389
58    397
59    390
Name: HC1, dtype: int64